
<br/>
<br/>
<div class="row collapse">
  
  <h1 align="center", font-height="10">EDIT REALTOR INFO</h1> 
  <div class="large-3 columns">&nbsp</div>
    <div class="large-6 columns">
      
      <%=form_for(:realtors, :url => {:action => 'update', :id => params[:id]}) do |r|%>
        <% @realtors.errors.full_messages.each do |msg| %>
        <%= msg %>
        <%end%>
        <%="Office Name"%>
        <br/>
        <%=r.text_field(:office_name)%>
        <br/>
        <%="Office Phone"%>
        <br/>
        <%=r.text_field(:office_phone)%>
        <br/>
        <%="Address"%>
        <br/>
        <%=r.text_field(:office_address)%>
        <br/>
        <%= "Email"%>
        <br/>
        <%=r.text_field(:email)%>
        <br/>
        <%="Broker"%>
        <br/>
        <%=r.text_field(:broker)%>
        <br/>
        <%="Contact Name"%>
        <br/>
        <%=r.text_field(:contact_name)%>
        <br/>
        <%="Last Visited"%>
        <br/>
        <%= @lastv %>
        <br/>
        <%=r.date_field(:last_visited, :value => @lastv )%>
        <br/>
        <%="Notes"%>
        <br/>
        <%=r.text_area(:notes)%>
        <br/>
        <input name="commit" type="submit" value="Update Realtor Info" class="button" />
      <!-- This is a submit tag in erb <%=submit_tag('Update Realtor Info')%> -->
    
        <%end%>
        <br/>
        <%= link_to('Cancel', :action => 'index') %>
      </div>
     <div class="large-3 columns"></div>
</div>
