<h1 align='center'>REAL ESTATE PROS.</h1>
<div>
  <div class="large-9 column">
  </div>
  <div class="large-3 column">
   <h1>
    </h1>
  </div>
</div>
<div class="row" >
  <div class="large-9 column">
<table align='center', even-row-bg='black'>
<tr>
  <th align="left">Realty Office</th>
  <th align="left">Phone</th>
</tr>
  <% @realtypros.each do |rltr|%>
 <tr>     
   <td><%= link_to rltr.office_name.upcase, :action => 'show', :id => rltr.id %></td> 
   <td><%= rltr.office_phone.to_s.upcase%></td>
 </tr>   
  <%end%>   
</table>
</div>

  <div class="large-3 column medium-3 column small-3 column" style="border: 2px solid #466d98; height: 400px;">
    <h1><a href="/real_estate_pros/new" class="button">Add New Realtor</a></h1>
    </br>
  </br>
</br>
     <p>Search the realtor database</p>
     <h1><%= form_tag root_path,   :method => :get do%>
     <p><%=search_field_tag :search, params[:search]%></p>
     <%= submit_tag  :Search, :class => "button", :name => nil%>
       <%end%>
  </div>
</div>
</br> 