<h1><%=@realtypros.office_name.camelize%></h1>
<br/>
<br/>

    <%if @realtynotice %>
        <h3>Stop Needed</h3>
    <%else%>
        <h3>No Stop Needed</h3>
    <%end%>

<br/>
Phone:<%= @realtypros.office_phone%>
<br/>
Address:<%= @realtypros.office_address%>
<br/>
Email:<%= @realtypros.email%>
<br/>
Broker:<%= @realtypros.broker%>
<br/>
Contact Name:<%= @realtypros.contact_name%>
</br>
Last Visited:<%= @realtypros.last_visited%>
<br/>
<br/>
Notes:
</br>
<p>
	<%= @realtypros.notes%>
</p>
<br/>
<%= link_to('Edit Information', :action => 'edit', :id => params[:id])%>
<br/>
<br/>
<%= link_to('Delete Realtor', :action => 'destroy', :id => @realtypros.id, data: { confirm: 'Are you sure?'})%>
<br/>
<br/>
<%= link_to('Home', :action => 'index') %>