<h1><%=@realtypros.office_name.camelize%></h1>
<br/>
<br/>

Phone:<%= @realtypros.office_phone%>
<br/>
<br/>
<br/>
<%= link_to('Edit Information', :action => 'edit', :id => params[:id])%>
<br/>
<br/>
<%= link_to('Delete Realtor', :action => 'destroy', :id => @realtypros.id, data: { confirm: 'Are you sure?'})%>
<br/>
<br/>
<%= link_to('Home', :action => 'index') %>