<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
  <style>
  h2, body {
    font-family: 'Paytone One', sans-serif;
    }
  </style>
</head>

<body>  
</br>
</br>
</br>
</br>
</br>

  <h2>Please log in.</h2>


<div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='row'>
        
            <div class: 'col-xs-4'>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control input-lg", type: "text", placeholder: "Email" %>
            </div>
        
            <div class: 'col-xs-4'>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password"%>
                                                              <!-- removed 'type: "text",' was showing password on input -->
            </div>
      
      </div>
    
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                    </div>
                  <% end -%>
   
                    
                  <%= f.submit "Log in", class: "button round" %>
                  
                    
    <% end %>
</div>

<%= link_to("Skip log in", '/real_estate_pros/login_bypass') %><br/>

<%= render "devise/shared/links" %>

</body>
</html>